section.advantages.section
	.container
		h2(id="advantages").section__title.advantages__title Наши преимущества
		div.advantages__block
			div.advantages__block-item
				.advantages__block-img
					img(src="img/advantages/adv_1.png" alt="Первое преимущество")
				p.advantages__block-text Первое <br> преимущество
			div.advantages__block-item
				.advantages__block-img
					img(src="img/advantages/adv_2.png" alt="Второе преимущество")
				p.advantages__block-text Второе <br> преимущество
			div.advantages__block-item
				.advantages__block-img
					img(src="img/advantages/adv_3.png" alt="Третье преимущество")
				p.advantages__block-text Третье <br> преимущество
			div.advantages__block-item
				.advantages__block-img
					img(src="img/advantages/adv_4.png" alt="Четвертое преимущество")
				p.advantages__block-text Четвертое <br> преимущество
			div.advantages__block-item
				.advantages__block-img
					img(src="img/advantages/adv_5.png" alt="Пятое преимущество")
				p.advantages__block-text Пятое <br> преимущество
			div.advantages__block-item
				.advantages__block-img
					img(src="img/advantages/adv_6.png" alt="Шестое преимущество")
				p.advantages__block-text Шестое <br> преимущество