section.catalog.section
	.container
		h2.section__title.catalog__title(id="catalog") Виды работ
		.catalog__items
				.catalog__item
					.catalog__item-img
						img(src="img/catalog/catalog_item_1.jpg" alt="Ремонт плат")
					.catalog__item-content
						.catalog__item-title Ремонт плат
						.catalog__item-text
							p.
								Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Точках напоивший текстов собрал, жизни если своих, семантика гор рот.
								Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Если от всех вскоре города? Заголовок семь вдали однажды приставка сих которой напоивший курсивных, но взгляд что агентство букв, языком до. <a href="#" class="catalog__item-link">Подробнее...</a>
				.catalog__item
					.catalog__item-img
						picture
							source(srscet="img/catalog/catalog_item_2.webp" type="image/webp")
							img(src="img/catalog/catalog_item_2.jpg" alt="Ремонт компонентов")
					.catalog__item-content
						.catalog__item-title Ремонт компонентов
						.catalog__item-text
							p.
								Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. О заголовок которой, рот путь реторический, безопасную скатился. Над силуэт которое, наш до безорфографичный, живет встретил первую семантика послушавшись он предупредила жизни своих оксмокс журчит. <a href="#" class="catalog__item-link">Подробнее...</a>
				.catalog__item
					.catalog__item-img
						img(src="img/catalog/catalog_item_3.jpg" alt="Ремонт частотных приводов")
					.catalog__item-content
						.catalog__item-title Ремонт частотных приводов
						.catalog__item-text
							p.
								Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Там образ щеке повстречался, не но диких одна, себя залетают даже рот грустный, семантика всеми злых маленький предупреждал мир. Запятых, взгляд алфавит буквоград мир но буквенных большого запятой собрал, себя. <a href="#" class="catalog__item-link">Подробнее...</a>
				.catalog__item
					.catalog__item-img
						img(src="img/catalog/catalog_item_4.jpg" alt="Оптимизация пассажиропотока")
					.catalog__item-content
						.catalog__item-title Оптимизация пассажиропотока
						.catalog__item-text
							p.
								Далеко-далеко, за словесными горами в стране, гласных и согласных живут рыбные тексты. Одна ipsum текста снова языкового инициал выйти жизни текстами всеми маленький, наш безорфографичный дороге путь. <a href="#" class="catalog__item-link">Подробнее...</a>
		.catalog__button
			a(href="#" class="button button_colorful catalog__button-btn") Посмотреть все виды работ
