section.contacts.section
	.container
		h2(id="contacts").section__title.contacts__title Контакты
		.contacts__block
				.contacts__block-item
					.contacts__block-image
						img(src="img/logo_and_icons/icon_geo.png")
					.contacts__block-text
						address.contacts__block-address г.Киров, ул.Ленина, 610035
				.contacts__block-item
					.contacts__block-image
						img(src="img/logo_and_icons/icon_phone.png")
					.contacts__block-text 
							a(href="#" class="contacts__block-link") +7(8332)22-22-22
				.contacts__block-item
					.contacts__block-image
						img(src="img/logo_and_icons/icon_mail.png")
					.contacts__block-text
						a(href="#" class="contacts__block-link") elevators-fix@gmail.com
	div(class="map" id="map")
		
