footer.footer
	.container
		.footer__block
			.footer__description
				h4.footer__description-title Elevators-fix
				span.footer__description-subtitle ремонт лифтового оборудования
				span.footer__description-copy &copy;Elevators-fix
			//-.footer__pay-info
			.footer__contacts
				.footer__contacts-main
					a(href="#" class="footer__contacts-phone") +7(8332)22-22-22 <br>
					a(href="#" class="footer__contacts-mail") elevators-fix@gmail.com <br>
				.footer__contacts-social
					a(href="#" class="footer__contacts-link")
						img(src="img/footer/social_vk.png")
					a(href="#" class="footer__contacts-link")
						img(src="img/footer/social_inst.png")
					a(href="#" class="footer__contacts-link")
						img(src="img/footer/social_wpp.png")