header.header
	nav.navbar
		div.navbar__menu
			div.container
				nav.navbar__menu-list
					a(href="#advantages").navbar__menu-link О нас
					div.navbar__menu-border
					a(href="#catalog").navbar__menu-link Услуги
					div.navbar__menu-border
					a.navbar__menu-link Рассчитать стоимость
					div.navbar__menu-border
					a.navbar__menu-link Порядок работ
					div.navbar__menu-border
					a.navbar__menu-link Новости
					div.navbar__menu-border
					a(href="#reviews").navbar__menu-link Отзывы
					div.navbar__menu-border
					a(href="#contacts").navbar__menu-link Контакты
		div.container
			div.navbar__row
				button.navbar__burger
					span.navbar__button-line
					span.navbar__button-line
					span.navbar__button-line
				div.navbar__logo.logo
					div.navbar__logo-img
						img(src="img/new_1.png")
					//-div.navbar__logo-descrip
						p ремонт лифтового оборудования
				div.navbar__mobile
					a.navbar__mobile-phone(href="tel:+7(8332)33-33-33") +7(8332)33-33-33
					span.navbar__mobile-workingTime Ежедневно с 9 до 20
				div.navbar__mobile
					a.navbar__mobile-phone(href="tel:+7(8332)22-22-22") +7(8332)22-22-22
					span.navbar__mobile-workingTime Ежедневно с 9 до 20
				div.navbar__button.button.button_transp
					a.navbar__button-link(href="#contact-us") Получить консультацию
	section.main-screen
		div.main-screen__bg
			div.container
				div.main-screen__content
					h1.main-screen__content-title Решим все Ваши проблемы! <br> <span>Ремонт любой сложности.</span>
					ul.main-screen__content-list
						li.main-screen__content-item Диагностика
						li.main-screen__content-item Ремонт плат
						li.main-screen__content-item Компоненты
						li.main-screen__content-item Настройка
						li.main-screen__content-item Отладка
						a(href="#catalog").button.main-screen__content-button Подробнее
			


