section.section.reviews
	.container
		h2(id="reviews").section__title.reviews__title Отзывы наших клиентов
		.reviews__slider
				.reviews__slider-item
					.reviews__slider-text
						p.
							Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Осталось мир страна, парадигматическая. Щеке правилами выйти рот, эта дорогу семь знаках буквоград рыбного всемогущая текста вопрос, обеспечивает ты, города?
					.reviews__slider-image
						img(src="img/slider/icon_5.png")
					.reviews__slider-name
						span Наталья Игнатова, <br>директор УК "РС"
				.reviews__slider-item
					.reviews__slider-text
						p.
							Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Заголовок, необходимыми домах грамматики возвращайся?
					.reviews__slider-image
						img(src="img/slider/icon_2.png")
					.reviews__slider-name
						span Иван Нестеров,<br> ООО "Плюс"
				.reviews__slider-item
					.reviews__slider-text
						p.
							Далеко-далеко, за словесными, горами в стране гласных и согласных живут рыбные тексты. Вопроса которой оксмокс назад лучше ему, продолжил свою пор текстов одна, за меня не, на берегу?
					.reviews__slider-image
						img(src="img/slider/icon_3.png")
					.reviews__slider-name
						span Виктор Кондратьев, <br>глвврач городской клинической больницы №1
//-.reviews__slider-item
					.reviews__slider-text
						p.
							Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Снова семантика, своих на берегу однажды взобравшись ее что первую рыбного заманивший путь о грамматики имеет свой агентство деревни которое, все щеке грустный рыбными. Заманивший сих проектах текста, рот всемогущая составитель.
					.reviews__slider-image
						img(src="img/slider/icon_4.png")
					.reviews__slider-name
						span Денис Васильев, <br>руководитель отдела развития ООО "Прорыв"
				.reviews__slider-item
					.reviews__slider-text
						p.
							Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Осталось мир страна, парадигматическая. Щеке правилами выйти рот, эта дорогу семь знаках.
					.reviews__slider-image
						img(src="img/slider/icon_5.png")
					.reviews__slider-name
						span ООО "Реноме"
				.reviews__slider-item
					.reviews__slider-text
						p.
							Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Осталось мир страна, парадигматическая. Щеке правилами выйти рот, эта дорогу семь знаках буквоград рыбного всемогущая текста вопрос, обеспечивает ты, города? Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
					.reviews__slider-image
						img(src="img/slider/icon_6.png")
					.reviews__slider-name
						span Игорь Высокий, главный инженер ТЦ "Город" 
